<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorTipoServicio</servlet-name>
        <servlet-class>controller.ControladorTipoServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorServicio</servlet-name>
        <servlet-class>controller.ControladorServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>controller.ControladorEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEditorial</servlet-name>
        <servlet-class>controller.ControladorEditorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDetalleFactura</servlet-name>
        <servlet-class>controller.ControladorDetalleFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTipoLibro</servlet-name>
        <servlet-class>controller.ControladorTipoLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>controller.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorFactura</servlet-name>
        <servlet-class>controller.ControladorFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLibro</servlet-name>
        <servlet-class>controller.ControladorLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorFacturaSuscripcion</servlet-name>
        <servlet-class>controller.ControladorFacturaSuscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategoria</servlet-name>
        <servlet-class>controller.ControladorCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSucursal</servlet-name>
        <servlet-class>controller.ControladorSucursal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>controller.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTipoSuscripcion</servlet-name>
        <servlet-class>controller.ControladorTipoSuscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>controller.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>controller.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAutor</servlet-name>
        <servlet-class>controller.ControladorAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controller.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIMG</servlet-name>
        <servlet-class>controller.ControladorIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCarrito</servlet-name>
        <servlet-class>controller.ControladorCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorTipoServicio</servlet-name>
        <url-pattern>/ControladorTipoServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorServicio</servlet-name>
        <url-pattern>/ControladorServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/ControladorEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEditorial</servlet-name>
        <url-pattern>/ControladorEditorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDetalleFactura</servlet-name>
        <url-pattern>/ControladorDetalleFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTipoLibro</servlet-name>
        <url-pattern>/ControladorTipoLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorFactura</servlet-name>
        <url-pattern>/ControladorFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLibro</servlet-name>
        <url-pattern>/ControladorLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorFacturaSuscripcion</servlet-name>
        <url-pattern>/ControladorFacturaSuscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategoria</servlet-name>
        <url-pattern>/ControladorCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSucursal</servlet-name>
        <url-pattern>/ControladorSucursal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/ControladorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTipoSuscripcion</servlet-name>
        <url-pattern>/ControladorTipoSuscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAutor</servlet-name>
        <url-pattern>/ControladorAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIMG</servlet-name>
        <url-pattern>/ControladorIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCarrito</servlet-name>
        <url-pattern>/ControladorCarrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
